<div data-role="panel" id="menu-panel" data-theme="a" data-position="right" data-display="overlay">
	<ul data-role="listview" data-theme="a">
		<li data-icon="delete"><a href="#" data-rel="close">Close menu</a></li>
		<li><a href="#" class="logout">Sign out</a></li>
		<li><a href="#" class="changePassword">Change Password</a></li>
		<li><a href="#" id="clear">Reset</a></li>
		<li><a href="#" id="backup">Backup Your Data</a></li>
		<li><a href="#" id="import">Import Hung's Data</a></li>
		<li><a href="#" id="export">Upload</a></li>
	</ul>
</div>