<div data-role="header">
	<h1>Summary</h1>
</div><!-- /header -->

<div data-role="content" class="ui-icon-nodisc">
	<div id="chart" style="min-width: 300px; height: 300px; margin: 0 auto"></div>
</div><!-- /content -->

<div data-role="footer" data-tap-toggle="false" data-tap-toggle="false" data-fullscreen="false" data-position="fixed">
	<div data-role="navbar" data-iconpos="top">
		<ul class="nav-search ui-icon-nodisc">
		   <li><a href="#" data-iconshadow="false" data-icon="home" class="ui-btn-active ui-state-persist" data-transition="slidefade">Home</a></li>
		   <li><a href="#viewRecords" data-iconshadow="false" data-icon="grid" data-transition="slidefade">Records</a></li>
		   <li><a href="#add" data-iconshadow="false" data-icon="add" data-rel="dialog" data-transition="slidefade">Add</a></li>
		   <li><a href="#menu-panel" data-iconshadow="false" data-icon="bars">More</a></li>
		</ul>
	</div><!-- /navbar -->
</div><!-- /footer -->
{>menu-panel /}