<div data-role="header">
	<h1>Records</h1>
</div><!-- /header -->

<div data-role="content" class="ui-icon-nodisc">
	<table data-role="table" id="table-custom-2" data-mode="columntoggle" class="history ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-popup-theme="a">
		<thead>
		  <tr class="ui-bar-d">
		    <th>Date</th>
		    <th>Day</th>
		    <th>Total</th>
		    <th>Savings</th>
		    <th></th>
		  </tr>
		</thead>
		<tbody>
			
		</tbody>
	</table>
</div><!-- /content -->

<div data-role="footer" data-tap-toggle="false" data-fullscreen="false" data-position="fixed">
	<div data-role="navbar" data-iconpos="top">
		<ul class="ui-icon-nodisc">
		   <li><a href="#home" data-iconshadow="false" data-icon="home" data-transition="slidefade">Home</a></li>
		   <li><a href="#" data-iconshadow="false" data-icon="grid" class="ui-btn-active ui-state-persist" data-transition="slidefade">Records</a></li>
		   <li><a href="#add" data-iconshadow="false" data-icon="add" data-rel="dialog" data-transition="slidefade">Add</a></li>
		   <li><a href="#menu-panel" data-iconshadow="false" data-icon="bars">More</a></li>
		</ul>
	</div><!-- /navbar -->
</div><!-- /footer -->

{>menu-panel /}